h1 {
    font-family: "Lato", sans-serif;
    color:#000;
    font-size: 80px;
    font-weight: 900;
}
h2{
    font-family: "Lato", sans-serif;
    color:#000;
    font-size: 50px;
    font-weight: 700;
}
h5 {
    font-family: "Lato", sans-serif;
    color:#000;
    font-size: 22px;
    font-weight: 600;
}
h6 {
    font-family: "Lato", sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}
p{
    font-family: "Lato", sans-serif;
    color:#000;
    font-size: 18px;
    font-weight: 400;
}
a{
    color: #000;
    text-decoration: none;
}
/*logo*/
img.logo {
    max-width: 70px;
}
/*footer*/
.footer-btm {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.wrapper {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

/*slider css*/
.banner-section {
    background-image: url("../images/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-bg {
    display: block;
    width: 100%;
    background-color: rgb(79 178 227 / 80%);
    padding: 6.3% 0%;
}
.banner-title h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 5px;
}
.banner-title p {
    padding-top: 25px;
}
.banner-bttn {
    display: inline-flex;
}
.banner-bttn a {
    background: #1086ff;
    color: #fff;
    margin-top: 25px;
    border: none;
    display: block;
}
.bttn a {
    position: relative;
    font-size: 15px;
    background: #fff;
    color: #111111;
    font-weight: 600;
    text-transform: capitalize;
    display: inline-block;
    padding: 18px 25px;
    width: 180px;
    text-decoration: none;
    transition: 0.5s linear;
    text-align: center;
    border-radius: 0.375rem;
    overflow: hidden;
    z-index: 111;
    margin-right: 15px;
}
.banner-bttn .btn-2 {
    background: #ffa922;
}
.bttn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #ffa922;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
    z-index: -1;
}
.bttn a.btn-2::before {
    background: #fff;
}
.bttn a:hover::before {
    opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

/*About Section*/
.section-title h2 {
    text-align: center;
    position: relative;
}
.section-title h2:after{
    content: "";
    display: block;
    position: absolute;
    border-bottom: 3px solid #ffa922;
    width: 150px;
    left: 45%;
    margin-top: 10px;
}
/*FAQ Section*/
section.sec-faq{
    background-image:url("../images/faq-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*registration*/
.registeration-form{
    background-image:url("../images/faq-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*login section*/
.shadow-box {
    box-shadow: 0px 0px 30px #adadad;
    background-color: #fff;
    height: 100%;
}
/*user detail page after login*/
.user-details .user-name p, .user-details .user-mobile p, .user-details .user-email p, .user-details .user-address p, .last-delivery p, .last-payment p, .last-amount p, .due-amount p {
    font-weight: 600;
    color: #3a3a3a;
}
.user-details .user-name p span, .user-details .user-mobile p a, .user-details .user-email p a, .user-details .user-address p span, .last-delivery p span, .last-payment p span, .last-amount p span, .due-amount p span {
    font-weight: 400;
}
.light-bg-row {
    background-color: #ededed;
    padding: 0.7rem 1rem;
    margin-bottom: 1rem;
    border-radius: 13px;
}
/*Search with user details*/
/*section.search-banner{
    background-image:url("../images/faq-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
}*/
input.searh-customer {
    padding: 1rem;
}
.card-list-profile img {
    max-width: 100px;
    border-radius: 50%;
    width: 100%;
}
/* Contat Section*/
section#contact i {
    font-size: 25px;
    color: #ffa922;
}
.map-responsive {
    overflow: hidden;
}
/*Profile*/
.profile-pic {
    max-width: 200px;
}