@media (min-width:1200px) and (max-width:1400px) {}

@media (min-width:992px) and (max-width:1200px) {
    .section-title h2:after {
        left: 42%;
    }

}

@media (min-width:768px) and (max-width:992px) {
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    .section-title h2:after {
        left: 40%;
    }
    .res-no-col {
        display: none;
    }

}

@media (min-width:576px) and (max-width:768px) {
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 35px;
    } 
    .section-title h2:after {
        left: 38%;
    }
    .res-no-col {
        display: none;
    }

}

@media screen and (max-width:576px) {

    h1{
        font-size: 35px;
    }
    h2{
        font-size: 30px;
    }
    .section-title h2:after {
        left: 35%;
    }
    .banner-bttn {
        flex-direction: column;
    }
    .res-no-col {
        display: none;
    }
}

